<section>
    <div class="d-flex justify-content-between align-items-center mb-4 mt-4">
        <h1>Schémas disponibles</h1>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addSchemaModal">
            <i class="bi bi-plus"></i> Ajouter schéma
        </button>
    </div>

    <div id="schemaList" class="list-group mb-4"></div>

    <div class="modal fade" id="addSchemaModal" tabindex="-1" aria-labelledby="addSchemaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSchemaModalLabel">Add New Schema</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="schemaJson" class="form-label">Schéma JSON</label>
                        <textarea id="schemaJson" class="form-control" rows="10"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="schemaJsonName" class="form-label">Nom</label>
                        <input id="schemaJsonName" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" id="saveSchema">Enregistrer</button>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="schemaDetailsModal" tabindex="-1" aria-labelledby="schemaDetailsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="schemaDetailsModalLabel">Schéma Détails : <span id="nameSchemaDetails"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <pre id="schemaDetails"></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="generateForm">Generate Form</button>
                    <button type="button" class="btn btn-danger" id="deleteSchema">Delete Schema</button>
                </div>
            </div>
        </div>
    </div>

    <pre id="formContainer"></pre>
    
</section>